<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.moboit">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MoBoIT">
        <activity
            android:name=".AddModules_Admin"
            android:exported="true" />
        <activity
            android:name=".About"
            android:exported="true" />
        <activity
            android:name=".Profile"
            android:exported="true" />
        <activity
            android:name=".ModulesEdit1_staff"
            android:exported="true" />
        <activity
            android:name=".ModulesModuleView1_staff"
            android:exported="true" />
        <activity
            android:name=".ModulesModule_Staff1"
            android:exported="true" />
        <activity
            android:name=".ModulesSemester_Staff"
            android:exported="true" />
        <activity
            android:name=".CalendarEdit_Staff"
            android:exported="true" />
        <activity
            android:name=".Calendar_Staff"
            android:exported="true" />
        <activity
            android:name=".ResultsEdit1_Staff"
            android:exported="true" />
        <activity
            android:name=".Results_Staff"
            android:exported="true" />
        <activity
            android:name=".Contacts"
            android:exported="true" />
        <activity
            android:name=".Forum"
            android:exported="true" />
        <activity
            android:name=".ResultsView_Students"
            android:exported="true" />
        <activity
            android:name=".ResultsSemester_Students"
            android:exported="true" />
        <activity
            android:name=".ModulesModuleView1_students"
            android:exported="true" />
        <activity
            android:name=".ModulesModule_Students1"
            android:exported="true" />
        <activity
            android:name=".ModulesSemester_Students"
            android:exported="true" />
        <activity
            android:name=".Calendar_Students"
            android:exported="true" />
        <activity
            android:name=".ContactsUpdate_Admin"
            android:exported="true" />
        <activity
            android:name=".HomePage_Admin"
            android:exported="true" />
        <activity
            android:name=".HomePage_Staff"
            android:exported="true" />
        <activity
            android:name=".HomePage_Students"
            android:exported="true" />
        <activity
            android:name=".CreateAccount"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>